{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}
    List of Ecosystem Functional Groups
    {% endblock %}</h1>
{% endblock %}
{% block content %}

    <p>List of assessments and assessment units per Ecosystem Functional Group</p>
    <table>
        <tr><th>Biome</th><th>Ecosystem Functional Group</th><th>Assessment units</th></tr>
    {% for item in info %}
        <tr>
          <td>{{ item['biome_code'] }}</td>
          <td>{{ item['name'] }}</td>
          {% if item['neco']>0 %}
            <td>
              <a href="{{url_for('typology.info', efg=item['code'])}}">
              {{ item['neco'] }}
            </a>
          </td>
            {% else %}
            <td class='missing'>0</td>

            {% endif %}
        </tr>
    {% endfor %}
    </table>

{% endblock %}
