{% extends 'base.html' %}

{% block header %}
  <h1 class='title'>{% block title %}
    {{ info['name']}}
    {% endblock %}</h1>
{% endblock %}
{% block content %}

{% if info['description'] == None %}
  <p>No description available in the database.</p>
{% else %}
  <p>{{ info['description']}}</p>
{% endif %}

<button class='selecttab' onclick="openTab('Summary')">Summary</button>
<button class='selecttab' onclick="openTab('Spatial')">Spatial information</button>
<button class='selecttab' onclick="openTab('Typology')">Ecosystem classification</button>
{% if units|length == 0 %}
 <button class='dontselecttab'>No information on assessment units</button>
{% else %}
  <button class='selecttab' onclick="openTab('Units')">Assessment units</button>
{% endif %}
<button class='selecttab' onclick="openTab('Entry')">Database entry</button>


<div class="tabs" id="Summary" style="">
{% include 'assessments/summary.html' %}
</div>

{% if units|length > 0 %}
  <div class="tabs" id="Units" style="">
    {% include 'assessments/units.html' %}
  </div>
{% endif %}

<div class="tabs" id="Typology" style="">
  {% include 'assessments/typology.html' %}
</div>

<div class="tabs" id="Spatial" style="">
  {% include 'assessments/spatial.html' %}
</div>

<div class="tabs" id="Entry" style="">
  <h2>Entry in the database</h2>
  <table>
  {% for key in info.keys() %}
      <tr>
        <th>{{ key }}</th>
        <td>{{ info[key] }}</td>
      </tr>
  {% endfor %}
  </table>
</div>

{% endblock %}
