/* #242333, #FFFFFF, #344648 #7D8E95 */

:root {
  --thebg: #FFFFFF;
  --maindark: #192F01;
  --mainpale: #DED369;
  --altdark: #E0475B;
  --altpale: #F8EFEA;
}

html { font-family: sans-serif; background: var(--thebg); padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: var(--thebg); }
h1 { font-family: serif; color: var(--maindark); margin: 1rem 0; }
h1.title { color: var(--maindark) }
h4.credits { color: var(--maindark); font-size: 11px; padding-left: 5px; padding-right: 5px;}
h2 { color: var(--maindark); font-size: 13px; padding-left: 5px; padding-right: 5px;}
img.logo {padding-left: 5px; padding-right: 5px;}
th {background: var(--altdark); color: var(--altpale);  }
td {background: var(--altpale); color: var(--altdark); }
nav { background:  var(--mainpale); color: var(--maindark);   display: flex; align-items: center; padding: 0 0.5rem; }



td.empty {background: lightgrey; color: darkgrey; }
td.notes {font-size: 10px; color: #7D8E95; }
td.NE {background:white; color: black;text-align: center;}
td.DD {background:grey; color: black;text-align: center;}
td.LC {background:darkgreen; color: white; text-align: center;}
td.NT {background:green; color: white; text-align: center;}
td.VU {background:yellow; color: black;text-align: center;}
td.EN {background:orange; color: black; text-align: center;}
td.CR {background:red; color: white;text-align: center;}
td.CO {background:black; color: white; text-align: center;}
a { color: #242333; }
hr { border: none; border-top: 1px solid #242333; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
nav.footer {background: #fff; }

.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
span.empty {color: lightgray;}
span.item {background-color: #80ced6; color: #618685; padding-left: 0.25rem; padding-right: 0.25rem;}
span.itis {background-color: #E59560; color: #fefbd8; padding-left: 0.25rem; padding-right: 0.25rem;border: 1px solid #fefbd8;}
span.isnot {background-color: #618685; color: #80ced6; padding-left: 0.25rem; padding-right: 0.25rem;border: 1px solid #fefbd8;}

a.itemb {background-color: #E59560; color: #fefbd8; padding-left: 0.25rem; padding-right: 0.25rem; border: 1px solid #fefbd8; text-decoration: none; margin-left: 0.25rem;margin-left: 0.25rem}

button.selecttab {background-color: #E59560; color: #fefbd8; padding-left: 0.25rem; padding-right: 0.25rem; border: 1px solid #fefbd8; text-decoration: none; margin-left: 0.25rem;margin-left: 0.25rem}
button.dontselecttab {background-color: darkgrey; color: lightgrey; padding-left: 0.25rem; padding-right: 0.25rem; border: 1px solid #fefbd8; text-decoration: none; margin-left: 0.25rem;margin-left: 0.25rem}

div.tabs {display: none;}
/* Container holding the image and the text */
.occ_map {
  position: relative;
  text-align: center;
  color: white;
  width: 330px;
}

/* Bottom left text */
.occ_legend {
  color: orange;
  position: absolute;
  bottom: 8px;
  left: 16px;
}


/* flag icons */
.flagicon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
